@font-face {  /* importer la font, la définir via font-family et la pointer avec src: url()*/
	font-family: Raleway;
    src: url(/fonts/raleway-v18-latin-regular.woff);
    src: url(/fonts/raleway-v18-latin-regular.woff2);
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
}

/*HEADER*/

.links {
    list-style-type: none;
}
a {
    color: initial;
}
.links a:visited {
    color: initial;
}
.navbar a {
    text-decoration: none;
}
.signup {
    font-weight: 900;
    color: #0065FC;
}
@media only screen and (min-width: 769px) { /*taille desktop*/
    body {
        min-width: auto;
        max-width: 2000px; /*quelle taille en max-width?*/
        margin: auto;
        height: 100%;
    }
    main {
        padding: 0 60px;
        font-size: 16px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
        padding-top: 40px
    }
    .logo img {
        height: 50px;
        width: auto;
    }
    .links {
        display: flex;
    }
    .links a:hover {
        border-top: 3px solid #0065FC;
        padding-top: 56px; /*54px car padding-top header 40px et font-size 14px*/
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .navbar a {
        padding: 0 40px
    }
}

@media only screen and (max-width: 425px) { /*IPHONE 8*/
    body {
        min-width: 1vw;
        max-width: 425px;
        margin: 0;
        height: auto;
    }
    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
        margin: 0;
    }
    .logo {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .signup {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .links {
        grid-row: 2/3;
        grid-column: -3/-1;
        width: 100%;
    }

}

/*MAIN*/

/*HEAD*/

.findHosting {
    font-weight: bold;
}
@media only screen and (min-width: 769px) {
    .head {
        padding-top: 20px
    }
    .headTitle {
        line-height: 0.7;
    }
}

/*FORM*/
.headForm {
    padding-top: 20px
}
.form {
    display: flex;
}
#formMapIcon {
    font-size: 18px;
    background-color: #F2F2F2;
    border: transparent;
    border-radius: 20px 0 0 20px;
    padding: 20px;
}
.formInput {
    width: 18%;
    border: 1px solid #F2F2F2;
}
.formSubmit {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    background-color: #0065FC;
    border: transparent;
    border-radius: 0 20px 20px 0;
}


/*PLACEHOLDER FIX*/
::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}
:-moz-placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}
:-ms-input-placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

/*FILTERS*/

.filters {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
}
.filtersTitle {
    font-weight: bold;
    padding-right: 40px;
}
.buttonWrapper {
    display: flex;
    width: 65%;
    justify-content: space-between;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    border: 3px solid #F2F2F2 ;
    border-radius: 33px;
    cursor: pointer;
}
.buttonIcon {
    border: transparent;
    border-radius: 100%;
    padding: 20px; 
    background-color: #DEEBFF;   
    margin: -2px;
    color: #0065FC;
}
.buttonText {
    font-weight: 900;
    padding: 0 18px;
    margin: 0;
}
.button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px #0065FC;
    background-color: #DEEBFF;
    border: #DEEBFF;
}
/*INFO SEARCH RESULTS*/
.headInfo {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.headInfoIcon {
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    padding: 6px 10px;
}
.headInfoP {
    padding-left: 20px;
}

/*SEARCH RESULTS*/
.currency {
    font-weight: bold;
}

/*HOSTING*/
.searchResults {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.hosting {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 20px 40px;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;

}
.hostingCityName {
    grid-row: 1/2;
    grid-column: 1/4;
    width: 100%;
}
.hostingShowMore {
    grid-row: 4/5;
    grid-column: -4/-1;
    width: 100%;
}
.hostingImg {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hostingCard {
    width: 90%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
}
.hostingCard:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px gray;
}
.hostingCardInfo {
    line-height: 7px;
    font-size: 15px;
    margin-bottom: -10px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hostingName h1 {
    font-size: 16px;
    font-weight: bold;
}
.hostingPrice {
    margin-top: 0
}

.hostingStar {
    color: #0065FC;
}
.hostingStarGray {
    color:lightgray;
}


/*POPULAR*/

.popular {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 40px;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.popularHead {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    height: 70%;
}
.popularCard {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}
.popularCard:hover {
    transform: scale(1.1);
}
.popularImg {
    min-height: 93%;
    max-height: 93%;
    width: 30%;
    padding: 5px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.popularCardInfoWrapper {
    display: flex;
    flex-direction: column;
}
.popularName {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 80%;
}
.popularPrice {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
}
.popularRating {
    position: absolute;
    bottom: 0;
}
.popularCardInfoWrapper {
    height: 90%;
    position: relative;
}

/*ACTIVITIES*/

.activities {
    width: 100%;
    height: auto;
    margin: 70px 0;
}
.activitiesTitle {
    width: 100%;
    padding-bottom: 15px;
}
.activityWrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
}
.activityCardOne {
    min-width: 25%;
    height: 500px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}
.activityCardTwo {
    min-width: 25%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
}
.activityCTUp {
    border-radius: 25px;
    height: 250px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}
.activityCTDown {
    border-radius: 25px;
    height: 220px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}
.activityCardThree {
    min-width: 25%;
    height: 500px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}
.activityCardFour {
    min-width: 25%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
}
.activityCFUp {
    border-radius: 25px;
    height: 220px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}
.activityCFDown {
    border-radius: 25px;
    height: 250px;
    box-shadow: 0px 0px 25px rgb(160, 156, 156);
    cursor: pointer;
}


.activityImgTall {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.activityImgCTUp {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.activityImgCTDown {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.activityImgCFUp {
    height: 78%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.activityImgCFDown {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}


.activityCardOne:hover {
    transform: scale(1.05);
}
.activityCTUp:hover {
    transform: scale(1.05);
}
.activityCTDown:hover {
    transform: scale(1.05);
}
.activityCardThree:hover {
    transform: scale(1.05);
}
.activityCFUp:hover {
    transform: scale(1.05);
}
.activityCFDown:hover {
    transform: scale(1.05);
}

.activityName {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding-left: 25px;
    margin-top: 10px;
    text-align-last: center;
    font-size: 16px;
    font-weight: bold;
}

/*FOOTER*/

.footer {
    background-color: #F2F2F2;
    max-width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 60px;
}
